@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin image ($file, $type, $width, $height, $background-size) {
  background-image: url($file + '.' + $type);
  background-repeat: no-repeat;
  background-size: $background-size;
  width: $width;
  height: $height;
  
  @media #{$retina} {
    background-image: url($file + '@2x.' + $type);
  }
}

@mixin rem ($value) {
  font-size: ($value / 16) + rem;
}

@mixin min-screen($width) {
  @media screen and (min-width:$width) {
    @content;
  }
}

@mixin max-screen($width) {
  @media screen and (max-width:$width) {
    @content;
  }
}

//https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-mid-range {
  @media (min-width: 750px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-tablet-high-range {
  @media (min-width: 1050px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}