@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin image ($file, $type, $width, $height, $background-size) {
  background-image: url($file + '.' + $type);
  background-repeat: no-repeat;
  background-size: $background-size;
  width: $width;
  height: $height;
  
  @media #{$retina} {
    background-image: url($file + '@2x.' + $type);
  }
}