//Resets
html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $madison;
  color: #4A4A4A;
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sub-font;
  margin: 0;
}

p, blockquote {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
 text-decoration: none;
 color: inherit;
}

button {
  border: 0px;
  padding: 0px;
}

button, input, textarea {
  &:focus {
    outline: none;
  }
}

button, input, optgroup,
select, textarea {
  font-family: $main-font;
  font-size: 1.0rem;
}