:root {
  --font: 16;
  --base-font-size: calc(var(--font) * 1px);
  --carousel-height: 300px;
  --footer-height: 315px;
  --header-height: 70px;
  --preview-step-height: 55px;
  --section-title-font: 18px;
  --story-title-font: 20px;

  @include for-tablet-portrait-up {
    --book-width: 350px;
    --book-height: 107px;
    --carousel-height: 350px;
    --footer-height: 215px;
    --preview-frame-height: 425px;
  }

  @include for-tablet-mid-range {
    --preview-step-height: 75px;
  }

  @include for-tablet-landscape-up {
    --carousel-height: 535px;
  }
}

:root {
  --book-width: 350px;
  --book-height: 107px;
  --preview-frame-height: 175px;

  @include min-screen(500px) {
    --book-width: 450px;
    --book-height: 180px;
    --preview-frame-height: 225px;
  }
  @include min-screen(600px) {
    --book-width: 550px;
    --book-height: 199px;
    --preview-frame-height: 255px;
  }
  @include min-screen(700px) {
    --book-width: 650px;
    --book-height: 235px;
    --preview-frame-height: 275px;
  }
  @include min-screen(800px) {
    --book-width: 750px;
    --book-height: 289px;
  }
  @include min-screen(900px) {
    --book-width: 850px;
    --book-height: 306px;
  }
  @include min-screen(1000px) {
    --book-width: 950px;
    --book-height: 343px;
  }
  @include min-screen(1100px) {
    --book-width: 1050px;
    --book-height: 380px;
  }
  @include min-screen(1200px) {
    --book-width: 1150px;
    --book-height: 415px;
  }
}

:root {
  --c-title-font: 20px;
  @include for-tablet-portrait-up {
    --c-title-font: 25px;
  }
  @include for-tablet-landscape-up {
    --c-title-font: 38px;
  }
}

:root {
  --carousel-desc-font: 16px;
  @include for-tablet-landscape-up {
    --carousel-desc-font: 28px;
  }
}

:root {
  --section-desc: 16px;
  @include for-tablet-landscape-up {
    --section-desc: 18px;
  }
}

:root {
  --big-title-font: 18px;
  @include for-tablet-portrait-up {
    --big-title-font: 30px;
  }
  @include for-tablet-landscape-up {
    --big-title-font: 45px;
  }
}
