:root {
  font-size: calc(var(--font-base) * 1px);

  --font-base: 16;
  --base-font: calc((12 / var(--font-base)) * 1rem);
  --carousel-height: 300px;
  --carousel-title-font: calc((18 / var(--font-base)) * 1rem);
  --carousel-desc-font: calc((16 / var(--font-base)) * 1rem);
  --story-title-font: calc((20 / var(--font-base)) * 1rem);
  --section-title: calc((18 / var(--font-base)) * 1rem);
  --section-desc: calc((16 / var(--font-base)) * 1rem);
  --header-height: 70px;
  --footer-height: 315px;
  --preview-step-height: 75px;
  --preview-frame-height: 425px;

  @include for-tablet-portrait-up {
    --base-font: calc((14 / var(--font-base)) * 1rem);
    --carousel-height: 350px;
    --carousel-title-font: calc((30 / var(--font-base)) * 1rem);
    --carousel-desc-font: calc((16 / var(--font-base)) * 1rem);
    --section-title: calc((25 / var(--font-base)) * 1rem);
    --footer-height: 215px;
  }

  @include for-tablet-landscape-up {
    --base-font: calc((16 / var(--font-base)) * 1rem);
    --carousel-height: 535px;
    --carousel-title-font: calc((45 / var(--font-base)) * 1rem);
    --carousel-desc-font: calc((28 / var(--font-base)) * 1rem);
    --section-title: calc((38 / var(--font-base)) * 1rem);
    --section-desc: calc((18 / var(--font-base)) * 1rem);
  }
}