:root {
  --font: 16;
  --base-font-size: calc(var(--font) * 1px);
  --carousel-height: 300px;
  --footer-height: 315px;
  --header-height: 70px;
  --preview-frame-height: 325px;
  --preview-step-height: 75px;
  --section-title-font: 18px;
  --story-title-font: 20px;

  @include for-tablet-portrait-up {
    --carousel-height: 350px;
    --footer-height: 215px;
    --preview-frame-height: 425px;
  }

  @include for-tablet-landscape-up {
    --carousel-height: 535px;
  }
}

:root {
  --c-title-font: 20px;
  @include for-tablet-portrait-up {
    --c-title-font: 25px;
  }
  @include for-tablet-landscape-up {
    --c-title-font: 38px;
  }
}

:root {
  --carousel-desc-font: 16px;
  @include for-tablet-landscape-up {
    --carousel-desc-font: 28px;
  }
}

:root {
  --section-desc: 16px;
  @include for-tablet-landscape-up {
    --section-desc: 18px;
  }
}

:root {
  --carousel-title-font: 18px;
  @include for-tablet-portrait-up {
    --carousel-title-font: 30px;
  }
  @include for-tablet-landscape-up {
    --carousel-title-font: 45px;
  }
}
