//font
$main-font: 'Open Sans', sans-serif;
$sub-font: 'Montserrat', sans-serif;;
$chalkduster: 'Chalkduster', sans-serif;;

//shade series
$black: #000000;
$white: #FFFFFF;
$gallery: #ECECEC;

// purple
$madison: #2E3E58;

//red series
$rad-red: #F63D5C;
$cardinal: #D21C3A;
$cherry: #ae1730;

//dark red series
$froly: #F16078;
$brick-red: #BA2740;

//Misc
$teal: #0FB4BB;

//https://css-tricks.com/snippets/css/retina-display-media-query/
$retina: "
  only screen and (-webkit-min-device-pixel-ratio: 2), 
  only screen and (-moz-min-device-pixel-ratio: 2), 
  only screen and (-o-min-device-pixel-ratio: 2/1), 
  only screen and (min-device-pixel-ratio: 2), 
  only screen and (min-resolution: 192dpi), 
  only screen and (min-resolution: 2dppx)";