//font
$main-font: 'Open Sans', sans-serif;
$sub-font: 'Montserrat', sans-serif;;
$chalkduster: 'Chalkduster', sans-serif;;

//shade series
$black: #000000;
$white: #FFFFFF;
$gallery: #ECECEC;

//
$madison: #2E3E58;

//red series
$rad-red: #F63D5C;
$cardinal: #D21C3A;
$cherry: #ae1730;

//dark red series
$froly: #F16078;
$brick-red: #BA2740;
