.bk-misc {
  padding: 0;
}

.bk-misc__banner {
  @include flexcenter;
  flex-direction: column;
  @include image("../assets/img/banner_4", "png", 100%, 250px, cover);
  background-position: 0px 50px;
  position: relative;
}

.bk-misc__photo {
  margin-bottom: 20px;
  max-width: 800px;
  background-position: center;
  z-index: 1;
  @include image("../assets/img/about", "png", 100%, 300px, contain);
}

.bk-misc__title {
  text-align: center;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

.bk-misc__content {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 100px;
  min-height: calc(100vh - 250px - var(--header-height) - var(--footer-height));

  @include for-tablet-portrait-up {
    align-items: center;
  }
}

.bk-misc__desc,
.bk-misc__subtitle {
  width: 100%;
  max-width: 750px;
  position: relative;
  z-index: 2;
}

.bk-misc__desc {
  font-weight: 500;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 16px;
  
  &:last-child {
    margin-bottom: 0;
  }

  > p {
    margin-bottom: 25px;
  }
}

.bk-misc__subtitle {
  font-weight: bold;
  margin-bottom: 4px;
  font-family: $main-font;
}

.bk-about-book__photo{
  background-size: cover;
  background-position: left;
}