.bk-misc {
  padding: 0;
}

.bk-misc__banner {
  @include flexcenter;
  flex-direction: column;
  @include image("../assets/img/banner_4", "png", 100%, 250px, cover);
  background-position: 0px 50px;
}

.bk-misc__photo {
  margin-bottom: 20px;
  max-width: 800px;
  background-position: center;
  z-index: 1;
  @include image("../assets/img/about", "png", 100%, 300px, contain);

  @include for-tablet-mid-range {
    height: 500px;
  }
}

.bk-misc__title {
  text-align: center;
  text-transform: capitalize;
}

.bk-misc__content {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 100px;
  min-height: calc(100vh - 250px - var(--header-height) - var(--footer-height));
}

.bk-misc__desc,
.bk-misc__subtitle {
  width: 100%;
  max-width: 750px;
}

.bk-misc__desc {
  font-weight: 500;
  line-height: 26px;
  text-align: justify;
  margin-bottom: 40px;
}

.bk-misc__subtitle {
  font-weight: bold;
  margin-bottom: 4px;
  font-family: $main-font;
}