.bk-cart {
  padding: 60px 0px 120px;
}

.bk-cart__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // font-size: var(--big-title-font);
  margin-bottom: 30px;

  @include for-tablet-portrait-up {
    @include flexcenter;
    flex-direction: row;
  }
}

.bk-cart__title-text {
  order: 1;

  @include for-tablet-portrait-up {
    order: 2;
  }
}

.bk-cart__cart-icon {
  @include image("../assets/img/cart", "png", 87px, 64px, cover);
  order: 2;
  
  @include for-tablet-portrait-up {
    order: 1;
  }
}

.bk-cart__wonderful-text {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 50px;
}

.bk-cart__sub-title {
  color: #666470;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 20px;
}

.bk-cart__pending-item-set {
  padding-bottom: 80px;
}

.bk-cart__pending-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95px;
  background-color: white;
  margin-bottom: 20px;
  position: relative;

  &:last-of-type {
    margin: 0;
  }
}

.bk-cart__pending-item-img {
  background-color: red;
  min-width: 65px;
  width: 65px;
  height: 45px;
  margin: 0 10px;
  @include for-tablet-mid-range {
    font-size: 18px;
    margin: 0 15px;
  }
}

.bk-cart__pending-item-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 23px;
  width: 100%;
  margin-right: 5px;

  @include for-tablet-mid-range {
    font-size: 18px;
    margin-right: 20px;
  }
}

.bk-cart__pending-edit {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-right: 10px;

  &::before {
    content: "";
    display: none;
    position: absolute;
    right: 0px;
    height: 60px;
    width: 1px;
    background-color: #E8E8E8;
  }

  @include for-tablet-mid-range {
    padding-right: 45px;

    &::before {
      display: block;
    }
  }
}

.bk-cart__pending-edit-text {
  display: inline-block;
  white-space: nowrap;
}

.bk-cart__pending-edit-icon {
  display: inline-block;
  margin-right: 15px;
  @include image("../assets/img/edit-book", "png", 27px, 28px, contain);
}

.bk-cart__pending-edit-text {
  color: #0FB1A3;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.bk-cart__pending-item-price {
  color: #F16078;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  right: 10px;
  bottom: 5px;

  @include for-tablet-mid-range {
    right: initial;
    bottom: initial;
    position: relative;
    margin: 0px 45px;
    font-size: 25px;
  }
}

.bk-cart__close {
  font-size: 25px;
  position: absolute;
  right: -12.25px;
  top: -6.25px
}

.bk-cart__addon {
  margin-bottom: 60px;
}

.bk-cart__addon-desc {
  margin-bottom: 30px;
}

.bk-cart__addon-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  border-top: 2px dashed #D1B770;
  border-bottom: 2px dashed #D1B770;
}

.bk-cart__summary-cont {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @include for-tablet-landscape-up {
    height: 215px;
    flex-direction: row;
  }
}

.bk-cart__summary-discount {
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;

  @include for-tablet-landscape-up {
    padding: 0px 40px;
    border-right: 1px solid #e8e8e8;
  }
}

.bk-cart__summary-discount-text {
  margin-bottom: 10px;
}

.bk-cart__summary-discount,
.bk-cart__summary-calc {
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
}

.bk-cart__summary-calc {
  align-items: center;
  padding: 10px;
  @include for-tablet-landscape-up {
    padding: 0px;
  }
}

.bk-cart__username-input {
  width: 100%;
  margin-bottom: 10px;
}

.bk-cart__summary-calc-detail {
  border-right: 1px solid #e8e8e8;
}

.bk-cart__payment-detail {
  text-align: right;
}

.bk-cart__payment-detail,
.bk-cart__payment-value {
  color: #666470;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  @include for-desktop-up {
    font-size: 20px;
  }
}

.bk-cart__payment-value {
  font-weight: bold;
}

.bk-detail--row-1,
.bk-detail--row-2,
.bk-detail--row-3 {
  padding: 10px 20px;
}

.bk-detail--row-2 {
  border-bottom: 1px solid #e8e8e8;
}

.bk-detail--row-3 {
  height: 55px;
}

.bk-cart__payment-final {
  color: #F16078;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  line-height: 36px;
  @include for-desktop-up {
    font-size: 30px;
  }
}

.bk-cart__checkout-section{
  display: flex;
  align-items: center;
  flex-direction: column;

  @include for-tablet-portrait-up {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
}

.bk-cart__accepted-cards {
  display: flex;
  flex-direction: row;

  > li {
    background-color: red;
    width: 60px;
    height: 33px;
    border-radius: 4px;
    margin-right: 10px;

    &:last-of-type {
      margin: 0;
    }
  }
}


.bk-chkout--width-cont {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.bk-cart__chkout-summary-calc  {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  @include for-tablet-portrait-up {
    padding: 30px;
  }
}

.bk-cart__chkout-personal-title-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @include for-tablet-mid-range {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.bk-cart__chkout-personal-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 0px 5px 0px;

  @include for-tablet-mid-range {
    margin: 0;
  }
}

.bk-cart__chkout-shipping-form,
.bk-cart__chkout-personal-form {
  padding: 35px;
  margin-bottom: 60px;
}

.bk-chkout__label,
.bk-chkout__input {
  display: block;
  width: 100%;
}

.bk-chkout__label {
  margin: 5px 0px;
}

.bk-cart__chkout-input-set {
  margin-bottom: 20px;
}

.bk-cart__chkout-personal-form {
  margin-bottom: 60px;
}

.bk-cart__chkout-login {
  color: #0FB1A3;
  font-size: 15px;
  line-height: 17px;
}

.bk-cart__chkout-btn-cont {
  margin-bottom: 20px;
}

.bk-cart__chkout-btn {
  width: 100%;
  justify-content: center;
}

.bk-cart__visa {
  @include image("../assets/img/visa", "png", 60px, 33px, contain);  
}
.bk-cart__master {
  @include image("../assets/img/master", "png", 60px, 33px, contain);  
}
.bk-cart__paypal {
  @include image("../assets/img/paypal", "png", 60px, 33px, contain);  
}

.bk-cart__chkout-goback {
  color: #9B9B9B;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  display: block;
  text-align: center;
}

