.bk-footer {
  @include flexcenter;
  color: $white;
  flex-direction: column;
  min-height: 215px;
  background-color: #3E3E58;
  height: var(--footer-height);


}

.bk-footer__link {
  color: #B1B1BC;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 12px;
  margin: 0px 0px 5px 0px;
  &:hover {
    color: $white;
  }

  &:last-of-type {
    margin: 0;
  }

  @include for-tablet-portrait-up {
    margin: 0px 35px 0px 0px;
  }
}

.bk-footer__logo {
  margin-bottom: 20px;

  @include for-tablet-portrait-up {
    margin-bottom: 8px;
  }
}

.bk-footer__nav-links {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include for-tablet-portrait-up {
    flex-direction: row;
    margin-bottom: 10px;
  }
}

.bk-footer__copyright {
  font-size: 12px;
  margin-bottom: 15px; 
}

.bk-footer__social-links-set {
  @include flexcenter;
  flex-direction: row;
}

.bk-footer__social-link {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }
}