.bk-forgotpw-puzzled {
  margin: 0 auto 40px;
  @include image("../assets/img/puzzled", "png", 156px, 158px, cover);
}

.bk-forgotpw-title {
  text-align: center;
  margin-bottom: 40px;
}

.bk-forgotpw-note,
.bk-forgotpw-pw-reset {
  display: block;
  color: #666470;
  text-align: center;
  color: #666470;
  margin: 0 auto;
}

.bk-forgotpw-note {
  width: 335px;
  margin-bottom: 15px;
}

.bk-forgotpw-desc {
  color: #666470;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.bk-forgotpw-pw-reset {
  color: #666470;
  width: 420px;
}