//General Styles
.bk-container {
  background-color: #FFF5DA;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.bk-width-cont {
  padding: 0px 20px;

  @include min-screen(500px) {
    padding: 0px 12%;
  }
}

.bk-body-cont {
  margin-top: var(--header-height);
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  position: relative;
}

.bk-small-width-cont {
  max-width: 550px;
  margin: 0 auto;
}

.bk-terms-accordion {
  z-index: 1;
  width: 450px;
}