//General Styles
.bk-container {
  background-color: #FFF5DA;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.bk-width-cont {
  padding: 0px 20px;

  @include min-screen(500px) {
    padding: 0px 12%;
  }
}