.bk-story-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
  position: relative;
  height: 300px;
  width: 100%;
  @extend .bk-width-cont;
  max-width: 945px;

  @include for-tablet-landscape-up {
    width: 80%;
    min-width: 800px;
    padding: 0px 50px;
    // box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5), -6px 0 20px 7px rgba(2,2,2,0.11);
    box-shadow: -6px 0 20px 7px rgba(2,2,2,0.11);
    position: absolute;
    z-index: 3;
    transform: translateX(-50%);
    top: var(--carousel-height);
    left: 50%;
  }
  @include for-tablet-landscape-up {
    height: 200px;
  }
}

.bk-story__options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  @include for-tablet-portrait-up {
    justify-content: flex-start;
  }

  @include for-tablet-landscape-up {
    justify-content: flex-start;
  }
}

.bk-story__title {
  text-align: left;
  font-family: $main-font;
  font-weight: 600;
  font-size: var(--story-title-font);
  line-height: 26px;
  margin-bottom: 10px;

  @include for-tablet-landscape-up {
    margin-bottom: 20px;
  }
}

.bk-story__desc {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

.bk-story__name-input {
  width: 100%;

  @include for-tablet-landscape-up {
    width: 237px;
    margin-bottom: 0;
  }
}

.bk-story__name-input-container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  
  @include for-tablet-landscape-up {
    margin-right: 30px;
    width: initial;
    margin-bottom: 0;
  }
}

.bk-gender {
  width: 50%;
  margin-bottom: 15px;
  
  &:first-of-type {
    margin-right: 5px;
  }

  @include for-tablet-portrait-up { 
    margin-right: 10px;
    width: 110px;
  }

  @include for-tablet-landscape-up {
    margin-bottom: 0;
  }
}

.bk-story__radio {
  &:checked ~ .bk-gender-btn {
    background-color: $teal;
    color: white;
  }
}

.bk-gender-btn {
  display: inline-block;
  width: 107px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 1px solid #D3D3D3;
  background-color: #F8F8F8;

  &:hover {
    background-color: #ECECEC;
  }

  &:active {
    background-color: $teal;
    color: white;
  }
}

.bk-story__name-input,
.bk-gender-btn {
  height: 46px;
}

// Video Section 
.bk-video-section {
  padding: 70px 0px;
  background: linear-gradient(134.72deg, #ECCC8A 2.4%, #EEE7D0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  overflow: hidden;
  @include for-tablet-landscape-up {
    padding: 250px 0px 200px;
  }
}

.bk-video-section__content {
  position: relative;
  z-index: 3;
}

.bk-video-section__title {
  margin-bottom: 20px;
  
  @include for-tablet-landscape-up {
    margin-bottom: 50px;
  }
}

.bk-video-section--desc {
  color: #423817;
  margin: 0 auto 50px;
  font-size: var(--section-desc);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  position: relative;
  z-index: 2;

  @include for-desktop-up {
    line-height: 36px;
    width: 75%;
    margin: 0 auto 120px;
    margin-bottom: 50px;
    background-color: transparent;
  }
}

.bk-video-section__video-container {
  position: relative;
}

.bk-video-section__video {
  min-height: 500px;
  width: 100%;
  max-width: 830px;
  border: 15px solid $white;
  box-shadow: 0 26px 29px 0 rgba(0,0,0,0.14);
  position: relative;
  z-index: 2;
  background-color: white;
}

.bk-video-section__confetti {
  z-index: 1;
  position: absolute;
  top: -200px;
  right: 50%;
  transform: translateX(50%);
  @include image("../assets/img/confetti", "png", 120%, 165%, cover);
  max-width: 1120px;
}

.bk-video-section__pangolin {
  position: absolute;
  right: -62px;
  top: 170px;
  max-height: 418px;
  max-width: 418px;
  width: 60%;
  height: 60%;
}

.bk-video-section__brush {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 400px;
  max-height: 240px;
  max-width: 240px;
  @include image("../assets/img/brush", "png", 25%, 17%, contain);
}

.bk-video-section__pencil {
  z-index: 2;
  position: absolute;
  left: 0px;
  bottom: 200px;
  max-height: 240px;
  max-width: 240px;
  width: 15%;
  height: 15%;
}

.bk-video-section__pizza {
  position: absolute;
  right: -78px;
  bottom: 100px;
  width: 156px;
  height: 147px;
  transform: rotate(45deg);
}

.bk-hiw {
  position: relative;
  height: 560px;
  padding: 30px;

  @include for-tablet-landscape-up {
    height: 560px;
  }
}

.bk-hiw--long {
  height: 560px;

  @include for-tablet-landscape-up {
    height: 620px;
  }
}

.bk-hiw--short {
  height: 445px;
}

.bk-hiw--bordertop {
  border-top: 3px solid #F4F4F4;
}

.bk-hiw__gasing {
  display: none;
  position: absolute;
  left: 30px;
  top: 70px;
  max-width: 244px;
  max-height: 191px;
  width: 20%;
  height: 31%;

  @include for-tablet-landscape-up {
    display: block;
    height: 620px;
  }
}

.bk-hiw__pizza {
  position: absolute;
  right: 50px;
  top: 0px;
  display: none;
  width: 136px;
  width: 129px;

  @include for-tablet-landscape-up {
    display: block;
  }
}

.bk-hiw__book {
  position: absolute;
  @include image("../assets/img/book", "png", initial, initial, cover);
}

.bk-hiw__book--first {
  width: 310px;
  height: 207px;
  top: 58%;
  right: 0px;

  @include for-tablet-portrait-up {
    top: 50%;
    width: 365px;
    height: 260px;
  }

  @include for-tablet-landscape-up {
    transform: translateY(-60%);
    top: 60%;
  }

  @include for-desktop-up {
    width: 500px;
    height: 332px;
  }
}

.bk-hiw__book--last {
  width: 400px;
  height: 300px;
  left: -5%;
  top: 50%;
  transform: scaleX(-1) rotate(17deg);

  @include for-tablet-landscape-up {
    top: 35%;
  }

  @include for-desktop-up {
    top: 0px;
    left: -15%;
    width: 690px;
    height: 450px;
  }
}

.bk-hiw__standingbook {
  position: absolute;
  left: 0px;
  top: 60%;
  @include image("../assets/img/standingbook", "png", initial, initial, contain);
  width: 260px;
  height: 204px;

  @include for-tablet-portrait-up {
    top: 90%;
    transform: translateY(-90%);
    width: 420px;
    height: 300px;
  }

  @include for-tablet-landscape-up {
    transform: translateY(-50%);
    top: 50%;
    left: 50px;
    width: 320px;
    height: 245px;
  }

  @include for-desktop-up {
    max-width: 744px;
    max-height: 500px;
    width: 45%;
    height: 90%;
    left: 0px;
  }
}

.bk-hiw__pencil {
  position: absolute;
  right: 0px;
  bottom: 50px;
  transform: translateX(6px) scaleX(-1) rotate(12deg);
}

.bk-hiw__bng {
  position: absolute;
  right: 20px;
  bottom: 0px;
  @include image("../assets/img/bng", "png", 300px, 190px, contain);

  @include for-tablet-portrait-up {
    width: 380px;
    height: 240px;
  }

  @include for-desktop-up {
    width: 490px;
    height: 310px;
  }
}

.bk-hiw__step {
  font-family: $chalkduster;
  color: $froly;
  font-size: 21px;
  margin-bottom: 2px;
  display: inline-block;
}

.bk-hiw__step-title {
  color: #003B49;
  font-family: $main-font;
  margin-bottom: 20px;
}

.bk-hiw__title {
  text-align: left;
  margin: 30px 0px 25px;

  @include for-tablet-portrait-up {
    text-align: center;
  }
}

.bk-hiw__content {
  position: relative;
  display: inline-block;
  width: 100%;
  
  @include for-tablet-landscape-up {
    width: 330px;
    position: absolute;    
  }

  @include for-desktop-up {
    width: 450px;
  }
}

.bk-hiw__content--right {
  @include for-tablet-landscape-up {
    top: 50%;
    right: 20%;
    transform: translate(20%, -50%);
  }
}

.bk-hiw__content--left {
  @include for-tablet-landscape-up {
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
  }
}

.bk-hiw__content--long {
  width: 100%; 

  @include for-tablet-landscape-up {
    width: 400px;
  }
  @include for-desktop-up {
    width: 450px;
  }
}

.bk-hiw__desc {
  color: #003B49;
  font-size: 16px;
  line-height: 28px;
}

.bk-hiw__marker {
  top: -75px;
  position: absolute;
}

.bk-review {
  height: 700px;
  padding-top: 60px;
  background: linear-gradient(45deg, #ffa262 0%,#da6614 100%); 
  position: relative;

  @include for-tablet-landscape-up {

  }
}

.bk-review__trumpet {
  --trumpet-height: 150;
  --trumpet-width: var(--trumpet-height);

  top: calc((var(--trumpet-height) / 2) * -1px);
  right: calc((var(--trumpet-width) / 2) * -1px);
  position: absolute;
  @include image("../assets/img/trumpet", "png", initial, initial, contain);
  width: calc(var(--trumpet-width) * 1px);
  height: calc(var(--trumpet-height) * 1px);

  @include for-tablet-landscape-up {
    --trumpet-height: 250;
  }

  @include for-desktop-up {
    --trumpet-height: 362;
  }
}

.bk-review__img {

  @include image("../assets/img/review-img-1", "png", 100px, 100px, contain);

  @include for-tablet-landscape-up {
    width: 140px;
    height: 140px;
    margin-right: 25px;
  }
}

.bk-review__title {
  color: $white;
  text-align: center;
  margin-bottom: 20px;
}

.bk-review__desc {
  color: $white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 45px;
  margin: 0 auto 30px;
  max-width: 600px
}

.bk-review__quote {
  display: inline-block;
  max-width: 380px;
  text-align: center;
  padding: 15px 50px;
  
  @include for-tablet-portait-only {
    padding: 15px 20px;
  }

  @include for-desktop-up {
    padding: 0px;
  }
}

.bk-review__quoteEmphasis {
  margin-bottom: 10px;
  display: inline-block;
}

.bk-review__quoteText {
  font-size: 14px;
  line-height: 26spx;
  @include for-tablet-landscape-up { 
    line-height: 28px;
  }
}

.bk-jom {
  @include flexcenter;
  flex-direction: column;
  height: 180px;
  background-color: #28ABBF;
  flex-wrap: wrap;

  @include for-tablet-portrait-up { 
    flex-direction: row;
  }
}

.bk-jom__create {
  bottom: 3px;
}

.bk-jom__title {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 46px;
  padding: 0px 25px;
  margin-bottom: 15px;

  @include for-tablet-portrait-up { 
    flex-direction: row;
    margin-bottom: 0;
  }
}

.bk-story__error {
  position: absolute;
  top: 100%;
  left: 0%;
  display: inline-flex;
  width: 100%;
  height: 46px;
  z-index: 2;
}

.bk-story__preview-cont {
  bottom: 6px;
}