.bk-preview__inner-cont {
  @include flexcenter;
  flex-direction: column;
  height: 100%;
}

.bk-preview__title {
  color: #003B49;
}

.bk-preview__title,
.bk-preview__name {
  text-align: center;
}

.bk-preview__loader-cont {
  position: absolute;
  @include flexcenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  z-index: 1;
}

.bk-loader-cont--show {
  display: flex;
}

.bk-preview__loader {
  margin-bottom: 20px;
}

.bk-preview__loading-text {
  color: #2C2A37;
  font-size: 18px;
  opacity: 0.6;
  max-width: 300px;
}

.bk-preview__frame {
  position: relative;
  width: var(--book-width);
  height: var(--book-height);
  margin: -95px 0px;

  @include for-tablet-portrait-up {
    margin: -55px 0px;
  }

  @include for-tablet-landscape-up {
    margin: -35px 0px;
  }

  @include for-tablet-high-range {
    margin: -15px 0px;
  }

  @include for-desktop-up {
    margin: 0px 0px 30px; 
  }
}

.bk-preview__name {
  font-family: $sub-font;
  text-transform: uppercase;
  color: $froly;

  @include for-tablet-high-range {
    margin-bottom: 40px;
  }
}

.bk-preview__step {
  width: 100%;
  height: var(--preview-step-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px dashed #979797; 
  padding-left: 20px;

  &:first-of-type {
    border-top: 1px dashed #979797;
  }

  
  @include for-tablet-mid-range {
    width: 200px;
    border: 0px;
    border-right: 1px dashed #979797;
    justify-content: center;
    padding: 0;
    &:first-of-type {
      border-top: 0px;
      border-left: 1px dashed #979797;
    }
  }
}

.bk-step--active {
  background-color: #FFF5DA;
}

.bk-preview__step-set {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;

  @include for-tablet-mid-range {
    flex-direction: row;
  }
}



.bk-preview__step-check {
  margin: 0px 20px 0px 0px;
  @include image("../assets/img/checked-grey", "png", 24px, 24px, contain);

  &.checked {
    @include image("../assets/img/checked-green", "png", 24px, 24px, contain);
  }
}

.bk-preview__step-text {
  margin-right: 20px;
}

.bk-preview__step-step {
  color: #9B9B9B;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
}

.bk-preview__step-name {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.bk-preview__chevron {
  display: inline-block;
  height: 10px;
  width: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  position: absolute;
  right: 30px;

  &::before {
    width: 6px;
    height: 6px;
    border-width: 4px 4px 0 0;
  }

  .bk-step--active & {
    transform: rotate(180deg)
  }

  @include for-tablet-mid-range {
    position: relative;
    right: initial;
    flex-direction: row;

    &::before {
      top: -1px;
      position: relative;
      width: 4px;
      height: 4px;
      border-width: 2px 2px 0 0;
    }
  }
}

.bk-preview__letter-set {
  display: flex;
  flex-direction: row;
}

.bk-preview__letter-cont {
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  text-align: center;
  position: relative;
  cursor: pointer;

  &:first-of-type,
  &:last-of-type  {

    &::before {
      content:'';
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #D9B146;
      top: 15px;
      border-radius: 50%;
    }
  }

  &:first-of-type {
    &::before {
      left: -20px;
    }
  }

  &:last-of-type {
    margin: 0;

    &::before {
      right: -20px;
    }
  }

  @include for-tablet-portrait-up {
    margin-right: 35px;
  }
}

.bk-preview__letter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $sub-font;
  font-size: 25px;
  margin-bottom: 12px;
  border-radius: 50%;
  background-color: transparent;

  .bk-letter-cont--active & {
    color: white;
    background-color: $froly;
  }
}

.bk-preview__letter-icons {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #D9B146;
  width: 40px;
  height: 40px;

  .bk-letter-cont--active & {
    border: 3px solid $froly;
  }
}

.bk-preview__tap-cont {
  position: absolute;
  pointer-events: none;
  top: initial;
  left: 0px;
  bottom: -20px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  z-index: 2;
  display: none;

  @include for-desktop-up {
    top: 30%;
    bottom: initial;
    font-size: 16px;
  }
}

.bk-preview__tap-cont--show {
  display: block;
}

.bk-preview__tap-to-open {
  position: absolute;
  bottom: -25px;
  right: -75px;
  display: none;
  @include image("../assets/img/tap-open-arrow", "png", 142px, 40px, contain);

  @include for-desktop-up {
    display: block;
  }
}

.bk-preview__onboarding-pointer {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  right: -50px;
  top: -20px;
  background-color: rgba($white, 0.5);
  border: 2px solid red;
}

.bk-preview__change-name {
  @include flexcenter;
  flex-direction: column;
  background-color: #FFF5DA;
  width: 100%;
  height: 250px;
  position: absolute;
  transition: bottom 0.5s ease-in;
  bottom: -250px;
  padding: 0px 20px;

  @include for-tablet-mid-range {
    height: 200px;
    bottom: -200px;
  }
}

.bk-change-name--active {
  bottom: 0px;
}

.bk-preview__name-label {
  position: absolute;
  top: -22px;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

.bk-preview__change-name-cont {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  
  @include for-tablet-high-range {
    justify-content: center;
  }

}

.bk-preview__name-input-container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  
  @include for-tablet-high-range {
    max-width: 500px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.bk-preview__name-input {
  width: 100%;
}

.bk-preview__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(59,59,59,0.78);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.bk-overlay--active {
  opacity: 1;
}

.bk-preview__done-btn-cont {
  position: relative;
  bottom: 6px;
}

.bk-preview__letter-dropdown {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -10px);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  
  &:active {
    color: red;
  }
}

.bk-letter-dropdown--active {
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
  transform: translate(-50%, 0);
}

.bk-preview__letter-switch {
  position: absolute;
  min-width: 150px;
  bottom: -145px;
  left: 50%;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translate(-50%, -20px);
  z-index: 4;
  opacity: 0;
  pointer-events: none;

  @include for-tablet-landscape-up {
    bottom: -190px;
  }
}

.bk-letter-switch--active {
  transform: translate(-50%, 0px);
  opacity: 1;
  pointer-events: initial;
}

.bk-preview__dedication {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -465px;
  width: 100%;
  background-color: #FFF5DA;
  height: 465px;
  transition: bottom 0.5s ease;

}

.bk-dedication--active {
  bottom: 0px;
}

.bk-preview__dedication-almost-there {
  opacity: 0.6;
  color: #2C2A37;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  }

.bk-preview__dedication-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bk-preview__dedication-book {
  @include image("../assets/img/dedication-page", "png", 50%, 100%, cover);
  display: none;

  @include for-tablet-landscape-up {
    display: block;
  }
}

.bk-preview__dedication-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 50px;
  border-left: 3px solid #EBD9AA;

  @include for-tablet-landscape-up {
    width: 50%;
    align-items: flex-start;
  }
}

.bk-preview__dedication-message {
  display: flex;
  width: 100%;
  height: 100%;
}

.bk-preview__dedication-title {
  font-size: var(--section-desc)
}

.bk-preview__dedication-title, 
.bk-preview__dedication-desc {
  margin-bottom: 20px;
}

.bk-preview__dedication-textarea {
  height: 275px;
  width: 100%;
  max-width: 470px;
}

.bk-preview__done-step {
  margin: 20px 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include for-tablet-mid-range {
    margin: 0px 0px 0px 20px;
  }
}

.bk-preview__done-btn {
  padding: 0px 45px;
}

.bk-preview__change-name-done-btn-cont {
  position: relative;
  bottom: 6px;
  width: 100%;

  @include for-tablet-portrait-up{
    width: auto;
  }
}

.bk-preview__change-name-done-btn {
  width: 100%;
  justify-content: center;

  @include for-tablet-portrait-up{
    width: auto;
  }
}