.bk-preview-container {
  background-color: #FFF5DA;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  position: relative;
  min-height: 800px;

  //100px is the buffer space
  @include for-tablet-portrait-up {
    height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}

.bk-preview__inner-cont {
  @include flexcenter;
  flex-direction: column;
  height: calc(100% - var(--preview-step-height));
}

.bk-preview__title,
.bk-preview__name {
  text-align: center;
}

.bk-preview__loader-cont {
  position: absolute;
}

.bk-preview__loader {
  margin-bottom: 20px;
}

.bk-preview__loading-text {
  color: #2C2A37;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

.bk-preview__frame {
  position: relative;
  width: 100%;
  height: var(--preview-frame-height);
  @include flexcenter;
  flex-direction: column;
  text-align: center;
}

.bk-preview__name {
  font-family: $sub-font;
  text-transform: uppercase;
  color: $froly;

  margin-bottom: 40px;
}

.bk-preview__step {
  width: 200px;
  height: var(--preview-step-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-right: 1px dashed #979797;
  cursor: pointer;

  &:first-of-type {
    border-left: 1px dashed #979797;
  }
}

.bk-step--active {
  background-color: #FFF5DA;
}

.bk-preview__step-set {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.bk-preview__step-check {
  margin: 0px 20px 0px 0px;
  @include image("../assets/img/checked-grey", "png", 24px, 24px, contain);

  &.checked {
    @include image("../assets/img/checked-green", "png", 24px, 24px, contain);
  }
}

.bk-preview__step-text {
  margin-right: 20px;
}

.bk-preview__step-step {
  color: #9B9B9B;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
}

.bk-preview__step-name {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.bk-preview__chevron {
  display: inline-block;
  height: 10px;
  width: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
  transition: transform 0.5s ease;

  &::before {
    top: -1px;
    position: relative;
  }

  .bk-step--active & {
    transform: rotate(180deg)
  }
}

.bk-dummy-cover {
  @include image("../assets/img/fake-cover", "png", 100%, 425px, contain);
  height: var(--preview-frame-height);
  color: white;
  display: inline-block;
  margin-bottom: 30px;
  background-position: center;
  max-width: 590px;
}

.bk-preview__letter-set {
  display: flex;
  flex-direction: row;
}

.bk-preview__letter-cont {
  display: inline-flex;
  flex-direction: column;
  margin-right: 35px;
  text-align: center;
  position: relative;
  cursor: pointer;

  &:first-of-type,
  &:last-of-type  {

    &::before {
      content:'';
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #D9B146;
      top: 15px;
      border-radius: 50%;
    }
  }

  &:first-of-type {
    &::before {
      left: -20px;
    }
  }

  &:last-of-type {
    margin: 0;

    &::before {
      right: -20px;
    }
  }
}

.bk-preview__letter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $sub-font;
  font-size: 25px;
  margin-bottom: 12px;
  border-radius: 50%;
  background-color: transparent;

  .bk-letter-cont--active & {
    color: white;
    background-color: $froly;
  }
}

.bk-preview__letter-icons {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #D9B146;
  width: 40px;
  height: 40px;

  .bk-letter-cont--active & {
    border: 3px solid $froly;
  }
}

.bk-preview__tap-cont {
  position: absolute;
  left: 0;
  top: 30%;
  pointer-events: none;
}

.bk-preview__tap-to-open {
  position: absolute;
  bottom: -25px;
  right: -100px;
  @include image("../assets/img/tap-open-arrow", "png", 142px, 40px, contain);
}

.bk-preview__change-name {
  @include flexcenter;
  flex-direction: column;
  background-color: #FFF5DA;
  width: 100%;
  height: 200px;
  position: absolute;
  transition: bottom 0.5s ease-in;
  bottom: -200px;
}

.bk-change-name--active {
  bottom: var(--preview-step-height);
}

.bk-preview__name-label {
  position: absolute;
  top: -22px;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

.bk-preview__change-name-cont {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.bk-preview__name-input-container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  @include for-tablet-landscape-up {
    max-width: 500px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.bk-preview__name-input {
  width: 100%;
}

.bk-preview__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(59,59,59,0.78);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.bk-overlay--active {
  opacity: 1;
}

.bk-preview__done-btn {
  position: relative;
  bottom: 6px;
}

.bk-preview__letter-dropdown {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -10px);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  
  &:active {
    color: red;
  }
}

.bk-letter-dropdown--active {
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
  transform: translate(-50%, 0);
}

.bk-preview__letter-switch {
  position: absolute;
  min-width: 150px;
  bottom: -190px;
  left: 50%;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translate(-50%, -20px);
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.bk-letter-switch--active {
  transform: translate(-50%, 0px);
  opacity: 1;
  pointer-events: initial;
}