.bk-flipbook {
  transition: margin-left 0.2s ease;
  width: var(--book-width);
  height: var(--book-height);
  z-index: 2;
}

.bk-flipbook__page {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.bk-flipbook--blank {
  background-color: white;
}

overwrite
.shadow {
  pointer-events: none;
}
.page-wrapper {
  > div,
  > .bk-flipbook__page {
    pointer-events: none;
  }
}