.c-btn {
  display: inline-flex;
  white-space: nowrap;
  border-radius: 4px;
  padding: 0px 25px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  height: 38px;
  cursor: pointer; 
  transition: background-color 0.2s ease;

  &:focus {
    outline: none;
  }
}

.c-btn--teal {
  background-color: $teal;

  &:active {
    background-color: darken($teal, 2%);
  }
}

.c-btn--froly {
  background-color: $froly;

  &:active {
    background-color: darken($froly, 2%);
  }
}

.c-btn--pink {
  background-color: $rad-red;
  color: white;

  &:hover {
    background-color: $cardinal;
  }

  &:active {
    background-color: $cherry;
  }
}

.c-btn--widepress-cont {
  height: 52px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.c-btn--widepress {
  border-radius: 0px;
  height: 46px;
  padding: 0px 65px;
  font-size: 16px;
  border-bottom: 2px solid $brick-red;
  position: relative;
  bottom: 0px;
  transition: bottom 0.2s ease, height 0.2s ease, border-width 0.2s ease;

  &:hover {
    height: 52px;
    border-bottom: 5px solid $brick-red;
  }

  &:active {
    height: 42px;
    border-bottom: 0px;
    // box-shadow: inset 0px 2px 5px -2px rgba(0,0,0,0.5);
  }
}

.c-btn--currency {
  border-radius: 5px;
  height: 30px;
  padding: 0px 13px;
  border: 1px solid #D3D3D3;
  
  > span {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: bold;
    margin-left: 11px;
  }

  &:hover {
    background-color: $gallery;
  }
}