@mixin button-maker($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 10%);
  }
  &:active {
    background-color: darken($color, 20%);
  }
}

.c-btn {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 4px;
  padding: 0px 25px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  height: 38px;
  cursor: pointer; 
  transition: background-color 0.2s ease;

  &:focus {
    outline: none;
  }
}

.c-btn--teal {
  @include button-maker($teal);
}

.c-btn--froly {
  @include button-maker($froly);
}

.c-btn--fb {
  @include button-maker(#3B5998);
}

.c-btn--twit {
  @include button-maker(#55ACEE);
}

.c-btn--red {
  background-color: #CE2828;
}

.c-btn--black {
  background-color: #000000;

  &:hover {
    background-color: lighten(#000000, 20%);
  }
  &:active {
    background-color: lighten(#000000, 30%);
  }
}



.c-btn--pink {
  background-color: $rad-red;
  color: white;

  &:hover {
    background-color: $cardinal;
  }

  &:active {
    background-color: $cherry;
  }
}

.c-btn--widepress-cont {
  height: 52px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.c-btn--tall {
  height: 46px;
}

.c-btn--widepress {
  border-radius: 0px;
  padding: 0px 65px;
  font-size: 16px;
  border-bottom: 2px solid $brick-red;
  position: relative;
  bottom: 0px;
  transition: bottom 0.2s ease, height 0.2s ease, border-width 0.2s ease;
  height: 46px;

  &:hover {
    height: 52px;
    border-bottom: 5px solid $brick-red;
  }

  &:active {
    height: 42px;
    border-bottom: 0px;
    // box-shadow: inset 0px 2px 5px -2px rgba(0,0,0,0.5);
  }
}

.c-btn--currency {
  border-radius: 5px;
  height: 30px;
  padding: 0px 13px;
  border: 1px solid #D3D3D3;
  
  > span {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: bold;
    margin-left: 11px;
  }

  &:hover {
    background-color: $gallery;
  }
}

.c-btn--full {
  justify-content: center;
  width: 100%;
}