.bk-carousel {
  height: var(--carousel-height);
  background-color: $white;
}

.bk-carousel--main {
  margin-top: var(--header-height);
}

.bk-carousel-item {
  height: var(--carousel-height);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bk-carousel-item--dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
}
.bk-carousel-item--bright{
  background-color: rgba(255 ,255 ,255 ,0.8);
  color: $black;
}
.bk-carousel-item__text {
  text-align: center;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 0px 70px;
  
  @include for-tablet-landscape-up {
    height: initial;
    top: 40px;
    transform: translateY(0%);
    background-color: transparent;
  }
}

.bk-carousel-item__title {
  margin-bottom: 10px;
}

.bk-carousel-item__desc {
  line-height: normal;
  font-size: var(--carousel-desc-font);
}

.bk-carousel-item--1 {
  @include image("../assets/img/banner_1", "png", 100%, var(--carousel-height), cover);
}

.bk-carousel-item--2 {
  @include image("../assets/img/banner_2", "png", 100%, var(--carousel-height), cover);
}

.bk-carousel-item--3 {
  @include image("../assets/img/banner_3", "png", 100%, var(--carousel-height), cover);
}

.bk-carousel--review {
  position: relative;
  max-width: 900px;
  height: 360px;
  background-color: white;
  margin: 0 auto;
}

.bk-carousel-item--review {
  height: 360px;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.bk-carousel__chevron-cont {
  @include flexcenter;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.bk-carousel__chevron {
  top: 5px;
  right: 3px;
  position: relative;
  &::before {
    border-color: black;
  }
}

.bk-carousel-control-prev--review,
.bk-carousel-control-next--review {
  color: initial;

  &:hover,
  &:focus {
    .c-chevron {
      color: black;
    }
  }
}
