.c-close {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include flexcenter;
  background-color: #ea6665;
  color: white;
  font-family: arial;
  text-transform: lowercase;
  cursor: pointer;

  &:hover {
    background-color: darken(#ea6665, 10%);
  }
  &:active {
    background-color: darken(#ea6665, 20%);
  }
}