.c-dropdown {
  --dropdown-arrow-width: 8px;
  --dropdown-arrow-color: red;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: calc(var(--dropdown-arrow-width) * -2 + 2px);
    transform: translate(-50%, 0px);
    width: 0px;
    height: 0px;
    border: var(--dropdown-arrow-width) solid transparent;
    border-bottom-color: var(--dropdown-arrow-color);
  }
}

.c-dropdown--blacky {
  --dropdown-arrow-color: black;
  --dropdown-arrow-width: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0px 40px;
  height: 40px;
  border-radius: 4px;
}

.c-dropdown--big-froly {
  --dropdown-arrow-color: $froly;
  --dropdown-arrow-width: 15px;
}

.c-dropdown--big-froly__text {
  background-color: $froly;
  color: white;
  border-radius: 4px 4px 0px 0px;
  padding: 10px 5px;
  font-size: 12px;
}

.c-dropdown--big-froly__set {
  min-height: 85px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
}

.c-dropdown--big-froly__set-icon {
  width: 45px;
  height: 45px;
  border: 2px dashed #979797;
  border-radius: 2px;
  position: relative;
  margin-bottom: 5px;

  &:last-child {
    margin: 0;
  }

  @include for-tablet-landscape-up {
    width: 86px;
    height: 86px;
    margin-right: 20px;
  }
}

.big-froly-set-icon--active {
  background-color: #0FB4BB;
  border-color: transparent;
  position: relative;

  &::before {
    content:"in use";
    color: #9B9B9B;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;
    right: calc(-100% - 10px);
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}