.c-logo--black {
  @include image("../assets/img/main_logo", "png", 164px, 43px, contain);
}

.c-logo--white {
  @include image("../assets/img/main_logo_white", "png", 164px, 43px, contain);
}

.c-social-fb {
  @include image("../assets/img/social-facebook", "png", 24px, 24px, contain);
}

.c-social-twit {
  @include image("../assets/img/social-twitter", "png", 24px, 24px, contain);
}

.c-social-insta {
  @include image("../assets/img/social-instagram", "png", 24px, 24px, contain);
}

.c-icon-fb {

}

.c-icon-twit {
  
}

.c-hamburger {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.c-hamburger__inner {
  border-radius: 4px;
  background-color: $black;
  width: 25px;
  height: 4px;
  display: inline-block;
}