.c-input-form {
  padding: 35px;
}

.c-input {
  padding-left: 20px;
  border: 1px solid #D3D3D3;
  background-color: #F8F8F8;
  height: 46px;
  width: 100%;
  
  &:active,
  &:focus {
    border: 1px solid $teal;
    box-shadow: 0 0 4px 0 rgba($teal, 0.5);
  }
}

.c-input-label {
  color: #666470;
  font-family: "Helvetica Neue" !important;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  display: block;
  margin: 5px 0px;
}

.c-input--error-orange {
  border: 2px solid #F5A623;
  box-shadow: 0 0 4px 0 rgba(#F5A623, 0.5);
}

.c-input--error-red {
  border: 2px solid #F16078;
  box-shadow: 0 0 4px 0 rgba(#F16078, 0.5);
}

.c-input__error-red-msg {
  color: #F16078;
  font-size: 13px;
  line-height: 15px;
}

.c-input__error-msg {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 15px;
  display: none;

  &.c-input__error-msg--active {
    display: block;
  }
}

.c-input-set {
  position: relative;
} 

.c-input-divider {
  border: 0px;
  border-bottom: 2px dashed #DEDEDE;
}

.c-textarea {
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  padding: 30px;
}