.c-message {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  min-height: 50px;
}

.c-message--error {
  background-color: #F5A623;
  box-shadow: 0 2px 4px 0 rgba($black, 0.12);
}

.c-message--success {
  background-color: #4ED4C9;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.11);
}

