.c-h1 {
  font-size: var(--h1-font-size);
}

.c-h2 {
  font-size: var(--h2-font-size);
}

.c-h3 {
  font-size: var(--h3-font-size);
}

.c-h4 {
  font-size: var(--h4-font-size);
}

.c-title-icon__text {
  font-size: 42px;
}

.c-header-title {
  margin-bottom: 10px;
  font-size: 25px;

  @include for-tablet-landscape-up { 
    font-size: 56px; 
  }
}